page-cart-details {

    .border{
        border: 1px solid #009088;
        }
      

        .horizontal-line-format{
            background-color: #009088; 
            width: 100%;
          }

    .card-md{
        width: 100% !important;
        margin: 3% auto !important;
    }

    .fm-empty-page {
        font-style: italic;
        color: #cecece !important;
        text-align: center;
        padding: 6%;
        width: 100%;
        font-weight: normal;
        font-size: 5em !important;
      }
      
}
