<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="navcol">
      <button menuClose text-center ion-item color="navcol" *ngIf="userDetails == null">
        Menu
      </button>
      <button menuClose text-center ion-item color="navcol" *ngIf="userDetails != null" (click)="openProfilePage()">
        {{userDetails.firstName}} {{userDetails.lastName}}
      </button>
      <!-- <ion-title text-center *ngIf="userDetails == null">Menu</ion-title> -->
      <!-- <ion-title text-center *ngIf="userDetails != null" (click)="openProfilePage()">{{userDetails.firstName}}
        {{userDetails.lastName}}</ion-title> -->
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>