// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
$colors: (
  primary:    #365899,
  secondary:  #32db64,
  fadeprimary: #85a3de,
  danger:     #f53d3d,
  light:      #a09e9e,
  dark:       #222,
  plain:      #fff,
  navbar:    #ee7e2d,
  semidark: #5d5d5d,
  navcol: #009088,
);

.background-color{
   background-color: #282838
 }

 .text-input::-moz-placeholder {
   color: white;
 }

 .text-input:-ms-input-placeholder {
   color: white;
 }

 .text-input::-webkit-input-placeholder {
   text-indent: 0;
   color: white;
 }

 .label-format{
   font-size: 13px;
    margin-top: 50%;
     color: white;
      text-align: center
 }

 .label-format-1{
   font-size: 13px;
    margin-top: 10%;
     color: white;
      text-align: center
 }

 .label-format-c{
  font-size: 13px;
   margin-top: 10%;
    color: #009088;
     text-align: center
}


 .input-format{
   color: white;
 }

 .horizontal-line-format{
   background-color: #009088;
   width: 100%;
 }

 .icon-color{
   color: #009088;
 }
 .button-format{
   background-color: #009088;
   height: 40px;
   width: 100%;
 }

 .center{
   text-align: center;
 }
 .heading-label{
   margin-top: 10%;
   font-size: 20px;
    color: white;
   text-align: center
 }

 .toggle-button{
   margin-top:13px;
   font-size: 15px;
   color: #009088;
 }

 .icon-color-white{
   color: white;
 }

 .rp-underline-title {
  color: color($colors, primary, base) !important;
  border-bottom: 1px solid color($colors, primary, base) !important;
  padding: 0;
  margin: 1.5rem 0 0 !important;
}
.toolbar-title{
  font-size: 16px !important;
}