<!--
  Generated template for the HomeScreenPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Komal Trading Corporation</ion-title>
    
    <ion-buttons end>
      <button (click)="gotoCarts()" ion-button clear>
          <ion-icon color="light" ios="ios-cart" md="md-cart"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
<ion-row>
  <img height="250px" width="500px" src ="https://i.ytimg.com/vi/_5zDlwIu7DM/maxresdefault.jpg">
</ion-row>

<ion-item>
  <ion-label><strong>Select category</strong> </ion-label>
  <ion-select #C (ionChange)="changeSubCategory(C.value)" [(ngModel)]="categoryId" >
  <ion-option *ngFor="let category of categoryDetailsArray" value="{{category.id}}" selected>{{category.name}}</ion-option>
  </ion-select>
</ion-item>


<ion-grid id="imagelist">
  <ion-row>
    <ion-col col-12>
      <ion-label class="cat-name-label">{{categoryName}}</ion-label>
    </ion-col>
</ion-row>
<ion-row>
  <ion-col col-6 *ngFor="let subCategory of subCategoryDetails">
    <img (click)="opneProductDetails()" id="imags" src="{{subCategory.url}}">
  </ion-col>
  
</ion-row>
</ion-grid>
</ion-content>
