page-add-product {

    .label-format-c{
        font-size: 13px;
          color: #009088;
           text-align: center
      }

      .border{
        border: 1px solid #009088;
        }

        .color-g{
            color: #009088;
        }
        .border-left{
            border-left: 1px solid #009088;
            }
            .border-right{
                border-right: 1px solid #009088;
                }
                .border-bottom{
                    border-bottom: 1px solid #009088;
                    }

}
