<ion-header>

  <ion-navbar color="navcol">
     
    <ion-title>Product Details</ion-title>

    <ion-buttons end>
      <button (click)="gotoCarts()" ion-button clear>
          <ion-icon color="plain" ios="ios-cart" md="md-cart"></ion-icon>
          <ion-badge color="danger" *ngIf="cartItemSize != 0">{{cartItemSize}}</ion-badge>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card>
    <ion-card-header>
      <p class="label-format-c font-sz"><b>{{name}}</b></p>
    </ion-card-header>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <p class="color-g font-sz"><b>Packaging Info</b></p>
    </ion-card-header>
    <ion-card-content>
      <ion-grid class="border">
        <ion-row class="border-bottom">
          <ion-col col-2 class="border-right">
          <p class=" font-sz">No.</p>
          </ion-col>
          <ion-col col-4 class="border-right">
              <p class="font-sz">Product</p>
          </ion-col>
          <ion-col col-2 class="border-right">
              <p class="font-sz">Type</p>
          </ion-col>
          <ion-col col-4>
              <p class="font-sz">Qty</p>
          </ion-col>
        </ion-row>
        <ion-row class="border-bottom" *ngFor="let productDetails of productDetailsList">
          <ion-col col-2 class="border-right">
              <p class="font-sz">{{productDetails.itemNo}}</p>
          </ion-col>
          <ion-col col-4 class="border-right">
              <p class="font-sz"> {{productDetails.itemNm}}</p>
          </ion-col>
          <ion-col col-2 class="border-right">
              <p class="font-sz"> {{productDetails.uom}}</p>
          </ion-col>
          <ion-col col-4>
            <ion-select class="font-sz" style="max-width:100%;" [(ngModel)]="productDetails.selectedQty" placeholder="0">
              <ion-option  *ngFor="let itemQty of productDetails.itemQtyArray" value="{{itemQty}}">{{itemQty}}</ion-option>
              <!--<ion-option>10</ion-option>-->
            </ion-select>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <button (click)="addItemToCart()" ion-button class="button-format"> 
                  Add To Cart
                </button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-toolbar>
</ion-footer>