page-orders 
{
    .order-info
    {
        margin: 10px;
    }
    .o-details
    {
        text-align: right;
        padding:11px;
    }
    .o-id
    {
        color: #009088;
        display: inline;
    }
    .chip-md
    {
        background: #009088;
        color: white;
    }
}
